<div id="page_wrapper" >
	<div id="profile_image" >
		<%= image_tag "profile.jpeg" %>
	</div>
	<div id="content" >
		<h1 hi merhaba ></h1>
		<p>Forage wolf air plant intelligentsia schlitz. Microdosing umami selvage, pork belly green juice taxidermy live-edge. Street art 90's brooklyn seitan pop-up activated charcoal. Mumblecore polaroid fam craft beer, synth 8-bit slow-carb taxidermy +1 poke cornhole iceland. Deep v mlkshk live-edge, plaid hoodie chicharrones four loko roof party biodiesel everyday carry.</p>
	</div>
</div>